.searchBar{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 8rem;
  margin-bottom: 1.5rem;
}
.postBox{
  height: 5rem;
  width: 28rem;
  margin-top: 0.5rem;
  background-color: rgb(214, 255, 234);
  border: 3px solid rgb(0, 168, 79);
  font-size: 25px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-stretch: extra-expanded;
  margin-left: 2.5rem;
}
.searchBtn{
  margin-left: 29rem;
  /* margin-bottom: 2rem; */
  height: 3rem;
  width: 5rem;
  background-color: rgb(116, 255, 202);
  border: 3px solid rgb(0, 105, 65);
  font-weight: bold;
  font-size: 18px;
}
.searchBtn:hover{
  cursor: pointer;
  background-color: rgb(19, 220, 143);
}
.searchBtn:active{
  cursor: pointer;
  background-color: rgb(0, 88, 57);
  color: white;
}


.post{
  height: 14rem;
  width: 56rem;
  margin-top: 1rem;
  background-color: rgb(174, 255, 235);
  border: 3px solid black;
  border-radius: 2rem;
  text-align: left;
  margin-left: 15rem;
}
.postHead{
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-left: 0.6rem;
  margin-top: 0.6rem;
}
.date{
  font-size: 1.1rem;
  margin-left: 0.6rem;
  /* margin-bottom: 2rem; */
  font-weight: bold;
}
.delBtn{
  margin-left: 1rem;
  margin-top: 0.8rem;
  height: 2.5rem;
  width: 4rem;
  background-color: rgb(116, 255, 202);
  border: 3px solid rgb(0, 105, 65);
  font-weight: bold;
  font-size: 16px;
}
.delBtn:hover{
  cursor: pointer;
  background-color: rgb(19, 220, 143);
}
.editBtn{
  margin-left: 0.4rem;
  height: 2.5rem;
  width: 4rem;
  background-color: rgb(116, 255, 202);
  border: 3px solid rgb(0, 105, 65);
  font-weight: bold;
  font-size: 16px;
}
.editBtn:hover{
  cursor: pointer;
  background-color: rgb(19, 220, 143);
}
.updateBtn{
  margin-left: 0.4rem;
  height: 2.5rem;
  width: 5rem;
  background-color: rgb(116, 255, 202);
  border: 3px solid rgb(0, 105, 65);
  font-weight: bold;
  font-size: 16px;
}
.updateBtn:hover{
  cursor: pointer;
  background-color: rgb(19, 220, 143);
}
.editBox{
  height: 2.7rem;
  width: 20rem;
  background-color: rgb(214, 255, 234);
  border: 3px solid rgb(0, 110, 51);
  font-size: 25px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}