.post{
    border: 1px solid black;
    border-radius: 10px;
    height: 29rem;
    width: 20rem;
    padding: 10px;
    margin: 15px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px 2px rgb(43, 43, 43);
  }
  .postHeader{
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  .postPics{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 5px;
  }
  .postText{
    margin-top: 7px;
    font-size: 15px;
  }
  .postImage{
    height: 260px;
    width: 320px;
    margin-top: 8px;
  }
  .postFooter{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  hr{
    border: 1px solid rgb(91, 83, 83);
  }
  .page{
    display: flex;
    flex-direction: column;
    align-items: center;
  }